@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  position:relative;
  margin:0;
  padding:0;
  box-sizaing:border-box
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg, rgba(8,0,255,1) 0%, rgba(253,255,162,1) 26%, rgba(208,253,255,1) 47%, rgba(0,212,255,1) 100%)
}
.sideNavContainer{
  width:15vw;
  border:2px solid orange;
  padding-top:50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.MapContainer{
  width:85vw;
  height:100vh;
}
.StylePanelContainer{
  position:absolute;
  top:5rem;
  left:5rem;
}
.DirectionPanelContainer{
  background-color:#fff;
  position:absolute;
  top:5rem;
  left:5rem;
  display:flex;
  flex-direction:column;
}