@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg, rgba(8,0,255,1) 0%, rgba(253,255,162,1) 26%, rgba(208,253,255,1) 47%, rgba(0,212,255,1) 100%)
}
.sideNavContainer{
  width:15vw;
  border:2px solid orange;
  padding-top:50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
